@using webapi_saml_test_client.Models
@using System.Linq;
@model GeneratedJWTModel

@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm("LoginLoop", "Home", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="form-group">
        <div class="col-md-12">
            <button class="btn btn-default" type="submit">Get Token From OSA</button>
        </div>
    </div>
}
<div>
<pre>
<code>
@ViewBag.TokenFromOSA
</code>
</pre>
</div>

@using (Html.BeginForm("GetDataFromOSA", "Home", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="form-group" style="display: none;">
        <div class="col-md-12">
            <input class="form-control" value="@ViewBag.TokenFromOSA" name="token" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <button class="btn btn-default" type="submit">Get Data From OSA</button>
        </div>
    </div>
}

<div>
<pre>
<code>
@ViewBag.DataFromOSA
</code>
</pre>
</div>
@if (Model != null)
{
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <h1> Old testing stuff </h1>

    using (Html.BeginForm("Index", "Home", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="form-group">
            <div class="col-md-2 control-label">
                Email Address
            </div>
            <div class="col-md-10">
                <input class="form-control" type="email" value="@ViewBag.emailAddress" name="emailAddress" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-default" type="submit">Get Token</button>
            </div>
        </div>
    }

    <h1>Token from the Provider - Encrypted with the Private key (*.pfx)</h1>
    <pre>
    <code>
    @Model.token
    </code>
    </pre>

    <h1>Decrypted Token - Via the Client Certificate (*.cer)</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Claim Type</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.principle.Claims)
    {
            <tr>
                <td>@item.Type</td>
                <td>@item.Value</td>
            </tr>
    }
        </tbody>
    </table>
}